<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
					http://cxf.apache.org/jaxrs
					http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<!-- Specify that messages.properties is loaded to load resource bundles.  This means that
		 we can apply overrides to binding messages which aren't very nice -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" scope="singleton" >
		<!-- Custom conversion error messages. -->
		<property name="basenames" >
			<list>
				<value>messages</value>
				<value>build-versions</value>
			</list>
		</property>
	</bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations">
         	<list>
         	</list>
         </property>
    </bean>	
    
    <bean id="internalResourceViewResolver" name="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		scope="singleton">
		<property name="order" value="2" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<context:annotation-config />		
	<!-- Scans within the base package of the application for @Components to configure as beans,
		 @Controller, @Service, @Configuration, etc. -->
	<context:component-scan base-package="com.hotnews"/>
</beans>
